<!-- Formulaire d'edition d'un conseiller -->
<meta charset="utf-8">
<div class="panel panel-info"  ng-init="ctrl.getConsById()" >

	<!-- Default panel contents -->
	<div class="panel-heading">
		<span class="lead">Edition de conseiller  </span>
	</div>

	<!-- action="envoiMailConfirmation.php"-->
	<div class="panel-body">
		<div class="formcontainer">
			<form ng-submit="ctrl.validEditCons()" name="formEdition"
				class="form-horizontal" method="post">
				<input type="hidden" ng-model="cons.id" />
				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="file">Prenom</label>
						<div class="col-md-7">
							<input type="text" ng-model="cons.prenom" name="prenom"
								class="form-control input-sm"
								
								 />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="file">Nom</label>
						<div class="col-md-7">
							<input type="text" ng-model="cons.nom" name="nom"
								class="form-control input-sm"
								 />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="file">Telephone</label>
						<div class="col-md-7">
							<input type="tel" ng-model="cons.telephone" name="telephone"
								class="form-control input-sm"
								 />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="file">Adresse
							mail</label>
						<div class="col-md-7">
							<input type="email" ng-model="cons.mail" name="mail"
								class="form-control input-sm"
								 />
						</div>
					</div>
				</div>


				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="file">Adresse
							postale</label>
						<div class="col-md-7">
							<input type="text" ng-model="cons.adresse" name="adresse"
								class="form-control input-sm"
								 />
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="file">Date de
							fin de contrat</label>
						<div class="col-md-7">
							<input type="text" ng-model="cons.finContrat"
								name="dateFinContrat" class="form-control input-sm"
								value="ATTENTION: NECESSITE L'AVAL VOTRE DIRECTEUR D'AGENCE!" />
						</div>
					</div>
				</div>


				<div class="row">


					<div class="form-actions floatRight">
						<input type="submit" value="Ajouter"
							class="btn btn-primary btn-sm"
							ng-disabled="formConnexion.$invalid">
					</div>
				</div>
				
			</form>
		</div>
	</div>
</div>
<div class="panel panel-default" ng-controller="DemandeController as dmdctrl">
	<!-- Default panel contents -->
	<div class="panel-heading">
		<span class="lead">Liste des clients </span>
	</div>
	<div class="tablecontainer">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>ID.</th>
					<th>Prenom</th>
					<th>Nom</th>
					<th>Adresse</th>
					<th>Email</th>
					<th>Réaffectation</th>
					<th width="20%"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="c in cons.clients">
					<td><span ng-bind="c.id"></span></td>
					<td><span ng-bind="c.prenom"></span></td>
					<td><span ng-bind="c.nom"></span></td>
					<td><span ng-bind="c.adresse"></span></td>
					<td><span ng-bind="c.mail"></span></td>
					<td>
						<form name="formValidation" class="form-horizontal">
										<select class="form-control"
											ng-change="dmdctrl.reaffectation(c.id, chosenConsID)" 
											ng-model="chosenConsID">
											<option value="">Select</option>
											<option ng-repeat="Conseiller in ctrl.currentUser.conseillers" 
												value="{{Conseiller.id}}" ng-if="cons.id != Conseiller.id">{{Conseiller.nom}}</option>
										</select>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
