


	<div class="panel panel-info " ng-controller="DemandeController as dmdctrl" ng-init="dmdctrl.fetchAllDemandes('admin');">

		<!-- Default panel contents -->
		<div class="panel-heading" >
			<span class="lead">Nouveaux Clients en attente d'affectation </span>
		</div>
		<!-- Tableau d'affichage des demandes d'ouverture -->





		<div class="panel-body" >
			<div class="tablecontainer">
				<table class="table table-hover" >
					<thead>
						<tr>
							<th ng-click="ctrl.trier_par('Nom')">Nom</th>
							<th ng-click="ctrl.trier_par('Prenom')">Prenom</th>
							<th ng-click="ctrl.trier_par('Adresse')">Adresse</th>
							<th ng-click="ctrl.trier_par('Email')">Email</th>
						<th ng-click="ctrl.trier_par('Revenus')">Revenus</th>							
							<th width="20%">Attribution</th>

						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="demande in dmdctrl.demandes | filter:search:strict | orderBy:tripar ">
							<td>{{(demande[1]!=null)?demande[1].nom:demande[0].nom}}</td>
							<td>{{(demande[1]!=null)?demande[1].prenom:demande[0].prenom}}</td>
							<td>{{(demande[1]!=null)?demande[1].adresse:demande[0].adresse}}</td>
							<td>{{(demande[1]!=null)?demande[1].mail:demande[0].mail}}</td>
							<td>{{(demande[1]!=null)?demande[1].revenu:demande[0].revenu}}</td>
							<td>
										<div ng-init="ctrl.getListeCons()">
									<form name="formValidation" class="form-horizontal">
										<select class="form-control" id="sel1"
											ng-change="dmdctrl.validation_attribution({{demande[0].id}},value)" ng-model="value">
											<option ng-repeat="conseiller in cons_admin"
												value="{{conseiller.id}}">{{conseiller.nom}}</option>
										</select>
									</form>
										</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

