
<div id="printSectionId">
	<div class="panel panel-info" layout="colomn">

			<!-- Default panel contents -->
			<div class="panel-heading" flex>
				<span class="lead">Liste des Comptes </span>
			</div>


			<div class="panel-body" flex>
				<div class="tablecontainer">
					<table class="table table-hover">
						<thead>
							<tr>
								<th ng-click="ctrl.trier_par('libelle')">Libelle</th>
								<th ng-click="ctrl.trier_par('id')">Iban</th>
								<th ng-click="ctrl.trier_par('solde')">Solde</th>
							</tr>
						</thead>
						<tbody>
							<tr name="liste_comptes" ng-repeat="Compte in comptes  | orderBy:tripar ">
								<td>{{Compte.libelle}}</td>
								<td>{{Compte.id}} </td>
								<td>{{Compte.solde}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

<button ng-click="printToCart('ctrl.printSectionId')" class="button">Imprimer</button>