

<!-- Formulaire de mofication d'info personnelle -->

<meta charset="UTF-8" />

<div class="panel panel-info" ng-controller="DemandeController as dmdctrl" ng-init=" ctrl.isConnexionExist()">

	<!-- Default panel contents -->
	<div class="panel-heading">
		<span class="lead">Informations personnelles</span>
	</div>
	<div class="panel-body" >
		<div class="formcontainer">
			<form ng-submit="dmdctrl.modifInfo()" name="formModifInfo"
				class="form-horizontal">
				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-label" for="file">Prenom</label>
						<div class="col-md-7">
							<input type="text" ng-model="tempUser.prenom" name="prenom"
								class="form-control input-sm" placeholder="Entez votre prenom"
								required />
							<div class="has-error" ng-show="formModifInfo.$dirty">
								<span ng-show="formModifInfo.prenom.$error.required">Champ
									obligatoire</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-label" for="file">Nom</label>
						<div class="col-md-7">
							<input type="text" ng-model="tempUser.nom" name="nom"
								class="form-control input-sm" placeholder="Entrez votre prenom"
								required />
							<div class="has-error" ng-show="formModifInfo.$dirty">
								<span ng-show="formModifInfo.nom.$error.required">Champ
									obligatoire</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-label" for="file">Telephone</label>
						<div class="col-md-7">
							<input type="tel" ng-model="tempUser.telephone" name="telephone"
								class="form-control input-sm"
								placeholder="Entez votre telephone" required />
							<div class="has-error" ng-show="formModifInfo.$dirty">
								<span ng-show="formModifInfo.telephone.$error.required">Champ
									obligatoire</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-label" for="file">Adresse
							mail</label>
						<div class="col-md-7">
							<input type="email" ng-model="tempUser.mail" name="email"
								class="form-control input-sm" placeholder="Entrez votre email"
								required />
							<div class="has-error" ng-show="formModifInfo.$dirty">
								<span ng-show="formModifInfo.email.$error.required">Champ
									obligatoire</span>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-label" for="file">Adresse
							postale</label>
						<div class="col-md-7">
							<input type="text" ng-model="tempUser.adresse" name="adresse"
								class="form-control input-sm" placeholder="Entrez votre adresse"
								required />
							<div class="has-error" ng-show="formModifInfo.$dirty">
								<span ng-show="formModifInfo.adresse.$error.required">Champ
									obligatoire</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="revenu">Revenus brut mensuel estimés</label>
						<div class="col-md-7">
							<input 	type="text" 
									ng-model="tempUser.revenu"
									name="codepostal" 
									class="form-control input-sm"
									placeholder="Entez votre revenu moyen estimé"
									required />
							<div class="has-error" ng-show="formModifInfo.$dirty">
								<span ng-show="formModifInfo.crevenu.$error.required">Champ
									obligatoire</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-actions">
					<a href="#/cli/" ng-click="dmdctrl.genererPassword(currentUser.id)" class="btn btn-primary btn-sm floatLeft">Nouveau Mot-de-passe</a> 


						<input type="submit" value="Demande de modifications"
							class="btn btn-primary btn-sm floatRight">
					</div>
				</div>
			</form>
		</div>
</div>
</div>		
		
<div class="panel panel-default"
	ng-controller="DemandeController as dmdctrl"
	ng-init="dmdctrl.listeJustificatifs()">
	<!-- Default panel contents -->
	<div class="panel-heading">
		<span class="lead">N'oubliez pas de joindre les documents necessaire au traitement de votre demande</span>
	</div>
	<div class="tablecontainer">
		<table class="table table-hover">
			<thead>
				<tr>

					<th ng-click="ctrl.trier_par('Type')">Type</th>
					<th ng-click="ctrl.trier_par('Datereception')">Date de
						reception</th>
					<th >Telecharger</th>	
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="justificatif in justificatifs | orderBy:tripar ">

					<td>{{justificatif.type}}</td>
					<td>{{justificatif.date}}</td>
					<td><a href={{justificatif.url}}><img class="icone"
							src="static/imgs/download.png" /></a></td>

				</tr>
			</tbody>
		</table>
	</div>

	<div ng-init="value = ''">

		<select class="form-control" ng-model="value">
			<option value="">Ajouter un document</option>
			<option value="1">Domicile</option>
			<option value="2">Impot</option>
			<option value="3">Salaire</option>
			<option value="4">Autre</option>
		</select>

		<div class="col-xs-12" ng-if="(value==1)?true:false">
			<input type="file" id="file" name="file"
				class="form-control input-sm"
				onchange="angular.element(this).scope().uploadFile(this.files, 'Domicile')" />
		</div>

		<div class="col-xs-12" ng-if="(value==2)?true:false">
			<input type="file" id="file" name="file"
				class="form-control input-sm"
				onchange="angular.element(this).scope().uploadFile(this.files, 'Impot')" />
		</div>

		<div class="col-xs-12" ng-if="(value==3)?true:false">
			<input type="file" id="file" name="file"
				class="form-control input-sm"
				onchange="angular.element(this).scope().uploadFile(this.files, 'Salaire')" />
		</div>

		<div class="col-xs-12" ng-if="(value==4)?true:false">
			<input type="file" id="file" name="file"
				class="form-control input-sm"
				onchange="angular.element(this).scope().uploadFile(this.files, 'Autre')" />
		</div>
	</div>
</div>
