
	<!-- Formulaire de demande de virement -->
	<!-- 	CompteController.compteDebiteur = compte sur lequel on retire l'argent
		CompteController.virement() methode de virement
		COmpteController.montant montant à virer 
		CompteController.compteCredite  = compte reçevant l'argent -->
	<!--  j'obtiens les comptes pour les placer dans les listes -->

		<div class="panel panel-info" ng-init="getComptes();">

			<!-- Default panel contents -->
			<div class="panel-heading" >
				<span class="lead">Demande de virement</span>
			</div>


			<div class="panel-body" >
				<div class="formcontainer">
					<form ng-submit="virement()" name="formVirement"
						class="form-horizontal">
						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" for="file">Compte
									a debiter</label>
								<div class="col-md-7">
									<select ng-model="virement.compteDebiteur"
										name="debiter" class="form-control input-sm">
										<option name="liste_comptes"
											ng-repeat="Compte in comptes" value="{{Compte.id}}">
											{{Compte.libelle}} , {{Compte.id}} , {{Compte.solde}}</option>
									</select>
									<div class="has-error" ng-show="formVirement">
										<span ng-show="formConnexion.prenom.$error.required">Champ
											obligatoire</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" for="file">Compte
									a crediter</label>
								<div class="col-md-7">
									<select ng-model="virement.compteCredite"
										name="crediter" class="form-control input-sm">
										<option name="liste_comptes" 
											ng-repeat="Compte in comptes" value="{{Compte.id}}">{{Compte.libelle}}
											, {{Compte.id}} , {{Compte.solde}}</option>
										<option name="liste_comptes">Autre</option>
									</select>
									<div class="has-error" ng-show="formVirement.$dirty">
										<span ng-show="formConnexion.nom.$error.required">Champ
											obligatoire</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" for="file">Montant
									a transferer</label>
								<div class="col-md-7">
									<input type="text" ng-model="virement.montant"
										name="montant" class="form-control input-sm"
										placeholder="Entrez votre montant" required />
									<div class="has-error" ng-show="formVirement.$dirty">
										<span ng-show="formConnexion.montant.$error.required">Champ
											obligatoire</span>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="form-actions floatRight">
								<input type="submit" value="Effectuer la demande de virement"
									class="btn btn-primary btn-sm"
									ng-disabled="formVirement.$invalid">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
