<meta charset="utf-8">
	<!-- Formulaire de demande de virement -->
	<!-- 	CompteController.compteDebiteur = compte sur lequel on retire l'argent
		CompteController.virement() methode de virement
		COmpteController.montant montant à virer 
		CompteController.compteCredite  = compte reçevant l'argent -->
	<!--  j'obtiens les comptes pour les placer dans les listes -->

		<div class="panel panel-info" ng_controller="CompteController as cptCtrl" ng-init="cptCtrl.findComptesByClientId(); ctrl.isConnexionExist()">

			<!-- Default panel contents -->
			<div class="panel-heading" >
				<span class="lead">Demande de virement</span>
			</div>


			<div class="panel-body" >
				<div class="formcontainer">
					<form ng-submit="virement()" name="formVirement"
						class="form-horizontal">
						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" for="file">Compte
									à débiter</label>
								<div class="col-md-7">
									<select ng-model="virement.compteDebiteur" ng-change="cptCtrl.compteDebiteur(virement.compteDebiteur)"
										name="debiter" class="form-control input-sm">
										<option name="liste_comptes" 
											ng-repeat="Compte in comptes" value="{{Compte}}">
											{{Compte.libelle}} , {{Compte.id}} , {{Compte.solde}}</option>
									</select>
									<div class="has-error" ng-show="formVirement">
										<span ng-show="formConnexion.prenom.$error.required">Champ
											obligatoire</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" for="file">Compte
									à créditer</label>
								<div class="col-md-7">
									<select ng-model="virement.compteCredite"
										name="crediter" class="form-control input-sm">
										<option name="liste_comptes" 
											ng-repeat="Compte2 in comptes" value="{{Compte2.id}}">
											{{Compte2.libelle}} , {{Compte2.id}} , {{Compte2.solde}}</option>
										<option name="liste_comptes" value="Autre">Autre</option>
									</select>
									<div class="has-error" ng-show="formVirement.$dirty">
										<span ng-show="formVirement.nom.$error.required">Champ
											obligatoire</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row" ng-if="virement.compteCredite == comptedebiteur.id && virement.compteCredite != null">
							<div class="form-group col-md-12">						
								<h1 >Vous ne pouvez debiter et crediter le meme compte</h1>
								<input type="hidden" ng-model="virement.controleMemeCompte" name="controleMemeCompte" class="form-control input-sm" required />
							</div>
						</div>
						<div class="row" ng-if="virement.compteCredite == 'Autre'">
							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" for="file">IBAN du compte à créditer</label>
								<div class="col-md-7">
									<input type="text" ng-model="virement.compteAutre"
										name="compteAutre" class="form-control input-sm" ng-blur="cptCtrl.compteExiste(virement.compteAutre)"
										placeholder="IBAN du compte à créditer" required />
									<div class="has-error" ng-show="formVirement.$dirty">
										<span ng-show="formConnexion.montant.$error.required">Champ
											obligatoire</span>
									</div>
								</div>

							<div class="form-group col-md-12" ng-if="compte_id_existe == 'aucun' ">						
								<h1 >Ce compte n'existe pas</h1>
								<input type="hidden" ng-model="virement.controleCompteExiste" name="controleCompteExiste" class="form-control input-sm" required />
							</div>

							<div class="form-group col-md-12" ng-if="compte_id_existe == comptedebiteur.id && comptedebiteur.id">						
								<h1 >Vous ne pouvez debiter et crediter le meme compte</h1>
								<input type="hidden" ng-model="virement.controleMemeCompte2" name="controleMemeCompte2" class="form-control input-sm" required />
							</div>
						</div>	
						</div>	

						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" for="file">Montant
									à transférer</label>
								<div class="col-md-7">
									<input type="number" ng-model="virement.montant"
										name="montant" class="form-control input-sm"
										placeholder="Entrez votre montant" min="1" max="{{comptedebiteur.solde + comptedebiteur.decouvert}}" required/>
									<div class="has-error" ng-show="formVirement.montant.$dirty">
										<span ng-show="formConnexion.montant.$error.required">Champ
											obligatoire</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row" ng-if="!(virement.montant < comptedebiteur.solde + comptedebiteur.decouvert) && virement.montant >0">
							<div class="form-group col-md-12">						
								<h1 >Vous depassez votre decouvert autorise</h1>
							</div>
						</div>	

						<div class="row">
							<div class="form-actions floatRight">
								<input type="submit" value="Effectuer la demande de virement"
									class="btn btn-primary btn-sm"
									ng-disabled="formVirement.$invalid">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
