

<!-- Formulaire de mofication d'info personnelle -->

	<meta charset="UTF-8" />

	<div class="panel panel-info" ng-init="ctrl.getMyUserBack()" >

		<!-- Default panel contents -->
		<div class="panel-heading">
			<span class="lead">Informations personnelles</span>
		</div>
		<div class="panel-body">
			<div class="formcontainer">
				<form ng-submit="ctrl.inscription()" name="formIscription"
					class="form-horizontal">
					<input type="hidden" ng-model="ctrl.user.id" />
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-label" for="file">Prenom</label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.user.prenom" name="prenom"
									class="form-control input-sm" placeholder="Entez votre prenom"
									required />
								<div class="has-error" ng-show="formInscription.$dirty">
									<span ng-show="formConnexion.prenom.$error.required">Champ
										obligatoire</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-label" for="file">Nom</label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.user.nom" name="nom"
									class="form-control input-sm" placeholder="Entrez votre prenom"
									required />
								<div class="has-error" ng-show="formInscription.$dirty">
									<span ng-show="formConnexion.nom.$error.required">Champ
										obligatoire</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-label" for="file">Telephone</label>
							<div class="col-md-7">
								<input type="tel" ng-model="ctrl.user.telephone"
									name="telephone" class="form-control input-sm"
									placeholder="Entez votre telephone" required />
								<div class="has-error" ng-show="formInscription.$dirty">
									<span ng-show="formConnexion.telephone.$error.required">Champ
										obligatoire</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-label" for="file">Adresse
								mail</label>
							<div class="col-md-7">
								<input type="email" ng-model="ctrl.user.mail" name="email"
									class="form-control input-sm" placeholder="Entrez votre email"
									required />
								<div class="has-error" ng-show="formInscription.$dirty">
									<span ng-show="formConnexion.email.$error.required">Champ
										obligatoire</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row" ng-show="formConnexion.email.$touched">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-label" for="file">Confirmez
								votre mail</label>
							<div class="col-md-7">
								<input type="email" ng-model="ctrl.checkmail" name="conf_mail"
									class="form-control input-sm" placeholder="confirmation"
									required />
								<div class="has-error" ng-show="formInscription.$dirty">
									<span ng-show="formConnexion.conf_mail.$error.required">Champ
										obligatoire</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-label" for="file">Adresse
								postale</label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.user.adresse" name="adresse"
									class="form-control input-sm"
									placeholder="Entrez votre adresse" required />
								<div class="has-error" ng-show="formInscription.$dirty">
									<span ng-show="formConnexion.adresse.$error.required">Champ
										obligatoire</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-actions floatRight">
							<input type="submit" value="Demander les modifications"
								class="btn btn-primary btn-sm"
								ng-disabled="formConnexion.$invalid">
						</div>
					</div>
				</form>
			</div>
			<div ng-init= "ctrl.getInfosClient(ctrl.compte.clientID)"
			ng-controller="DemandeController as dmdctrl">

				<form ng-submit="dmdctrl.writeDemDecou()" name="demDecou" >
					<div class="panel panel-info" layout="colomn">

					Quel decouvert souhaiteriez vous avoir? (attention ce montant ne peut
						pas exceder 40% de vos revenus mensuels) 
						<input type="number" max="{{ctrl.currentUser.revenu * 0.4}}" min="0"
								ng-model="ctrl.user.decouvert" name="demDecouvert"
								class="form-control input-sm" 
								 required />
					</div>
						<div class="has-error" ng-show="demDecou.$dirty">
							<span ng-show="demDecou.demDecouvert.$error.required">Champ	obligatoire</span>
							<span ng-show="demDecou.demDecouvert.$error.max">Champ	invalide : montant trop élevé.</span>
							<span ng-show="demDecou.demDecouvert.$error.min">Une demande découvert doit être une valeur positive.</span>
						</div>  	
					<div class="row">
						<div class="form-actions floatRight">
							<input type="submit" value="Soumettre ma demande à  mon conseiller"
								class="btn btn-primary btn-sm" ng-disabled="demDecou.$invalid">
						</div>

					</div>
				</form>
			</div>	
		</div>
	</div>
