<meta charset="utf-8">
<div class="panel panel-info" ng-controller="DemandeController as dmdCtrl">
	<div class="panel-heading">
		<span class="lead">Demande de création d'un nouveau compte</span>
	</div>
	<div class="panel-body">
		<div class="formcontainer">
			<form ng-submit="dmdCtrl.demandeNouveauCompte()" class="form-horizontal">
				<div class="form-group">
					<div class="row col-md-12">
						<label class="col-md-2 control-label">Nom de votre compte</label>
						<input class="col-md-2"type="text" name="nomCompte" ng-model="demandeCreationCompte.libelle" >
					</div>
					<div class="row col-md-12">
						<label class="col-md-2 control-label">Autorisation de découvert ?</label>
						<input class="col-md-1"type="checkbox" name="checkDecouvert" ng-model="decouvert" >
					</div>
					<div ng-show="decouvert" class="row col-md-12">
						<label class="col-md-2 control-label">Montant du découvert</label> 
						<input class="col-md-2" type="number" ng-model="montantDecouvert">
					</div>
					<div class="row col-md-12">
						<label class="col-md-2 control-label">Rémunération de compte ?</label> 
						<input class="col-md-1" type="checkbox" name="checkRemun" ng-model="demandeCreationCompte.remunerateur">
					</div>
					<div class="row col-md-12">
						<div class="form-actions floatRight">
							<input type="submit"
								value="Soumettre ma demande à  mon conseiller"
								class="btn btn-primary btn-sm">
						</div>
					</div>
				</div>
			</form>
			<!--   Si nécessaire, veuillez uploader le document nécessaire: -->
			<!-- 	<form method="post" action="reception.js" -->
			<!-- 		enctype="multipart/form-data"> -->
			<!-- 		<label for="Justificatif">Justificatif (type jpeg, bitmap ou png)</label><br /> <input type="file" name="justificatif" id="justificatif" /><br /> -->
			<!-- 	</form> -->
			<!-- 	<div class="row"> -->
			<!-- 		<div class="form-actions floatRight"> -->
			<!-- 			<input type="submit" value="Soumettre ma demande à  mon conseiller" -->
			<!-- 				class="btn btn-primary btn-sm"> -->
			<!-- 		</div> -->
			<!-- 	</div> -->

			<!-- </form> -->
		</div>
	</div>
</div>