<div
	ng-init="Comptes=[
{Libelle:'Comptecds',Iban:'2616464', Solde:'150'},
{Libelle:'hgdfdgfbfdb',Iban:'7587578578', Solde:'1570'},
{Libelle:'Compfgbgfbtecds',Iban:'7857868676', Solde:'78150'},
{Libelle:'fgbfdbgfb',Iban:'78687678676', Solde:'8150'}
]">
<div id="printSectionId">
	<div class="panel panel-info" layout="colomn">

			<!-- Default panel contents -->
			<div class="panel-heading" flex>
				<span class="lead">Liste des Comptes </span>
			</div>


			<div class="panel-body" flex>
				<div class="tablecontainer">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Libellé</th>
								<th>Iban</th>
								<th>Solde</th>
							</tr>
						</thead>
						<tbody>
							<tr name="liste_comptes" ng-repeat="Compte in Comptes">
								<td>{{Compte.Libelle}}</td>
								<td>{{Compte.Iban}}</td>
								<td>{{Compte.Solde}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
		</div>
<button ng-click="printToCart('ctrl.printSectionId')" class="button">Imprimer</button>