
<div class=" panel panel-default "
	ng-controller="DemandeController as dmdctrl"
	ng-init="dmdctrl.findDemandeById(demande_id)">
	<div class="panel-heading ">
		<span class="lead">Demande de {{(demande.type ==
			1)?'Creation':''}}{{(demande.type == 3)?'Chequier':''}}
			{{(demande.type == 2 && !demande.libelle)?'Modification de compte':''}}{{(demande.type == 2 && demande.libelle)?'Creation d un nouveau compte':''}}{{(demande.type ==
			4)?'Modification d informations personnelle':''}}</span> <br />
		{{(demande.type == 2)?'Demande de ':''}}{{(demande.type == 2 &&
		demande.remunerateur == true)?'Compte remunerateur':''}}
		{{(demande.type == 2 && demande.decouvert > 0)?'Decouvert de
		'+demande.decouvert +' euros':''}}{{(demande.type == 2 && demande.libelle)?demande.libelle:''}}
	</div>
	<ul class="list-group">
		<li class="list-group-item">Civilite
			{{(demande.client.prenom)?demande.client.prenom:demande.prenom}}
			{{(demande.client.nom)?demande.client.nom:demande.nom}}</li>
		<li class="list-group-item">{{(demande.client.adresse)?demande.client.adresse:demande.adresse}}
		</li>
		<li class="list-group-item">Tel:
			{{(demande.client.telephone)?demande.client.telephone:demande.telephone}}
		</li>
		<li class="list-group-item">Email:
			{{(demande.client.mail)?demande.client.mail:demande.mail}}</li>
		<li class="list-group-item">Revenu moyen:
			{{(demande.client.revenu)?demande.client.revenu:demande.revenu}}</li>
		<li class="list-group-item"><a href="#/"
			class="btn btn-warning btn-sm ">Retour</a> <a
			class="btn btn-danger btn-sm "
			ng-click="dmdctrl.modifEtat_Demande(demande,'Refusee')">Refus</a> <a
			class="btn btn-primary btn-sm "
			ng-click="dmdctrl.modifEtat_Demande(demande, 'EnCours')">Attente</a>
			<a class="btn btn-success btn-sm " ng-if="(demande.remunerateur || demande.decouvert > 0)?false:true"
			ng-click="dmdctrl.validation_Demande(demande)">Valider</a></li>
	</ul>
</div>

<div class="panel panel-default"
	ng-controller="DemandeController as dmdctrl"
	ng-init="dmdctrl.findDemandeById(demande_id)"
	ng-if="(demande_type==4)?true:false">
	<div class="panel-heading">
		<span class="lead">Modifications</span>
	</div>
	<ul class="list-group">
		<li class="list-group-item">Civilite {{demande.prenom}}
			{{demande.nom}}</li>
		<li class="list-group-item">{{demande.adresse}}</li>
		<li class="list-group-item">Tel: {{demande.telephone}}</li>
		<li class="list-group-item">Email: {{demande.mail}}</li>
		<li class="list-group-item">Revenu moyen: {{demande.revenu}}</li>
	</ul>
</div>

<div class="panel panel-default"
	ng-controller="DemandeController as dmdctrl"
	ng-init="dmdctrl.findDemandeById(demande_id)">
	<!-- Default panel contents -->
	<div class="panel-heading">
		<span class="lead">Documents disponible</span>

	</div>
	<div class="tablecontainer">
		<table class="table table-hover">
			<thead>
				<tr>
					<th ng-click="dmdctrl.trier_par('type'); flechetri_2 = !flechetri_2; flechetri_1 = false; flechetri_3 = false; flechetri_4 = false; flechetri_5 = false  ">Type
						<img class="icone_liste" src="static/imgs/flecheHaut.png" ng-hide="flechetri_2" />
						<img class="icone_liste" src="static/imgs/flecheBas.png" ng-hide="!flechetri_2" />
					</th>
					<th ng-click="dmdctrl.trier_par('date'); flechetri_3 = !flechetri_3; flechetri_2 = false; flechetri_1 = false; flechetri_4 = false; flechetri_5 = false  ">Date de
						reception
						<img class="icone_liste" src="static/imgs/flecheHaut.png" ng-hide="flechetri_3" />
						<img class="icone_liste" src="static/imgs/flecheBas.png" ng-hide="!flechetri_3" />
					</th>
					<th >Telechargement
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="justificatif in justificatifs | orderBy:tripar:sens ">

					<td>{{justificatif.type}}</td>
					<td>{{justificatif.date}}</td>
					<td><a
						ng-click="dmdctrl.download(justificatif.path,justificatif.nomDuFichier)" download><img
							class="icone" src="static/imgs/download.png" /></a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div ng-init="value = ''">

		<select class="form-control" ng-model="value">
			<option value="">Ajouter un document</option>
			<option value="1">Domicile</option>
			<option value="2">Impot</option>
			<option value="3">Salaire</option>
			<option value="4">Autre</option>
		</select>

		<div class="col-xs-12" ng-if="(value==1)?true:false">
			<input type="file" id="file" name="file"
				class="form-control input-sm"
				onchange="angular.element(this).scope().uploadFile(this.files, 'Domicile')" />
		</div>

		<div class="col-xs-12" ng-if="(value==2)?true:false">
			<input type="file" id="file" name="file"
				class="form-control input-sm"
				onchange="angular.element(this).scope().uploadFile(this.files, 'Impot')" />
		</div>

		<div class="col-xs-12" ng-if="(value==3)?true:false">
			<input type="file" id="file" name="file"
				class="form-control input-sm"
				onchange="angular.element(this).scope().uploadFile(this.files, 'Salaire')" />
		</div>

		<div class="col-xs-12" ng-if="(value==4)?true:false">
			<input type="file" id="file" name="file"
				class="form-control input-sm"
				onchange="angular.element(this).scope().uploadFile(this.files, 'Autre')" />
		</div>

	</div>
</div>



<div id="RIBSectionId" class=" panel panel-default"
	ng-controller="DemandeController as dmdctrl"
	ng-init="dmdctrl.findDemandeById(demande_id)"
	ng-if="(demande_type == 1 || demande_type == 4)?false:true">
	<div class="panel-heading">
		<span class="lead">{{demande.compte.libelle}}
			<button ng-click="ctrl.printToCart('RIBSectionId')"
				class="btn btn-warning btn-sm floatRight no-print">Imprimer
				le RIB</button>
		</span>
	</div>
	<ul class="list-group">
		<li class="list-group-item">IBAN: {{demande.compte.id}}</li>
		<li class="list-group-item">Solde : {{demande.compte.solde}}
			euros</li>

		<li  ng-if="!modifierCompteRemuneration" class="list-group-item">Remuneration :
			{{demande.compte.tauxRemuneration}} %

			<button ng-click="dmdctrl.modifAffichRemuneration()" ng-if="(!compte_id)?true:false"
				class="btn btn-danger btn-sm floatRight no-print">Modifer</button>
		</li>
		<li  ng-if="modifierCompteRemuneration" class="list-group-item">Remuneration :
			<input type="number" ng-model="demande.compte.tauxRemuneration"
								name="tauxRemuneration" 
								class=" col-xs-2"
								required /><a ng-click="dmdctrl.modifierRemuneration(demande, demande.compte.tauxRemuneration,demande.compte.seuil)"
				class="btn btn-danger btn-sm floatRight no-print">Valider</a>
		</li>
		
		<li ng-if="!modifierCompteRemuneration" class="list-group-item">
			Seuil de remuneration : {{demande.compte.seuil}} euros</li>
		<li ng-if="modifierCompteRemuneration" class="list-group-item form-control">
		Seuil de remuneration : <input type="number" ng-model="demande.compte.seuil"
								name="seuil" 
								class=" col-xs-2"
								required />euros</li>	
								
								
								
								
								
		<li ng-if="!modifierCompteDecouvert" class="list-group-item">Agios :
			{{demande.compte.tauxDecouvert}} %</li>
		<li ng-if="!modifierCompteDecouvert" class="list-group-item">Decouvert autorise :
			{{demande.compte.decouvert}}
			<button ng-click="dmdctrl.modifAffichDecouvert()" ng-if="(!compte_id)?true:false"
				class="btn btn-danger btn-sm floatRight no-print">Modifer</button>
		</li>
		
		
		<li ng-if="modifierCompteDecouvert" class="list-group-item">Agios :

			<input type="number" ng-model="demande.compte.tauxDecouvert"
								name="tauxDecouvert" 
								class=" col-xs-2"
								required /></li>
		<li ng-if="modifierCompteDecouvert" class="list-group-item">
Decouvert autorise :
			<input type="number" ng-model="demande.compte.decouvert"
								name="decouvert" 
								class=" col-xs-2"
								required /><a ng-click="dmdctrl.modifierDecouvert(demande, demande.compte.tauxDecouvert,demande.compte.decouvert)"
				class="btn btn-danger btn-sm floatRight no-print">Valider</a>
		</li>
	</ul>
</div>
<div id="ReleveSectionId" class=" panel panel-default"
	ng-controller="DemandeController as dmdctrl"
	ng-init="dmdctrl.findDemandeById(demande_id)"
	ng-if="(demande_type == 1 || demande_type == 4)?false:true">
	<!-- Default panel contents -->
	<div id="ReleveSectionId" class="panel-heading">
		<span class="lead">Releve de compte
			<button ng-click="ctrl.printToCart('ReleveSectionId')"
				class="btn btn-warning btn-sm floatRight no-print">Imprimer
				le Releve</button>
		</span>
	</div>
	<div class="tablecontainer">
		<table class="table table-hover ">
			<thead>
				<tr>
					<th ng-click="ctrl.trier_par('libelle')">Libelle</th>
					<th ng-click="ctrl.trier_par('dateMouvement')">Date</th>
					<th >Credit</th>
					<th >Debit</th>
				</tr>
			</thead>
			<tbody>
				<tr
					ng-repeat="mouvement in demande.compte.mouvements | orderBy:tripar:sens ">
					<td>{{mouvement.libelle}}</td>
					<td>{{mouvement.dateMouvement}}</td>
					<td>{{(mouvement.montant > 0)?mouvement.montant:""}}</td>
					<td>{{(mouvement.montant < 0)?mouvement.montant:""}}</td>					
				</tr>
		
			</tbody>
		</table>
				<span class="lead">Solde ce jour {{demande.compte.solde}}euros</span>
	</div>
</div>


