




<div class="panel panel-info" ng-controller="DemandeController as dmdctrl" ng-init="dmdctrl.findDemandeById(); dmdctrl.fetchAllDemandes(value);">

	<!-- Default panel contents -->
	<div class="panel-heading" >
		<span class="lead">Demande Clients en attente de traitement </span>

						
								<select class="form-control" id="sel1"
									ng-change="dmdctrl.fetchAllDemandes(value)" ng-model="value"  >
									 <option ng-repeat="itemMenu in menuDemandesCons" 
                      						value="{{itemMenu.id}}">{{itemMenu.valeur}}     
             						 </option>
								</select>

	</div>	
	<!-- Tableau d'affichage des demandes d'ouverture -->





			<div class="panel-body" >
				<div class="tablecontainer">
					<table class="table table-hover">
						<thead>
							<tr>
								<th ng-click="ctrl.trier_par('Nom')">Nom</th>
								<th ng-click="ctrl.trier_par('Prenom')">Prenom</th>
								<th ng-click="ctrl.trier_par('date')">Date creation</th>
								<th width="10%" ng-click="ctrl.trier_par('Action')">Action</th>

							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="demande in ctrl.curentUser.demandes  | filter:search:strict | orderBy:tripar " ng-click="dmdctrl.detailDemande(demande)" >
								<td>{{demande.nom}}</td>
								<td>{{demande.prenom}}</td>
								<td>{{demande.dateCreation}}</td>
								<td align=center>
<img class="icone_liste" src="static/imgs/crayon.png" ng-hide="{{(demande.etat=='EnCours')?false:true}}"  />
<img class="icone_liste" src="static/imgs/sablier.png" ng-hide="{{(demande.etat=='EnAttente')?false:true}}" />
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
</div>


