
<div class=" panel panel-default "
	ng-init="ctrl.getClient(client_id)">

	<div class="panel-heading ">

		<span class="lead">Espace de{{client.prenom}} {{client.nom}}</span>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			{{client.adresse}}</li>
		<li class="list-group-item">Tel:
			{{client.telephone}}</li>
		<li class="list-group-item">Email: 
			{{client.mail}}</li>
		<li class="list-group-item">Revenu moyen: 
			{{client.revenu}}</li>
	</ul>

</div>
<div class="panel panel-default" ng-controller="DemandeController as dmdctrl" ng-init="dmdctrl.listeJustificatifs()">
	<!-- Default panel contents -->
	<div class="panel-heading">
		<span class="lead">Documents disponible</span>

	</div>
	<div class="tablecontainer">
		<table class="table table-hover">
			<thead>
				<tr>
					<th ng-click="dmdctrl.trier_par('nomDuFichier'); flechetri_1 = !flechetri_1; flechetri_2 = false; flechetri_3 = false; flechetri_4 = false; flechetri_5 = false ">Nom
						<img class="icone_liste" src="static/imgs/flecheHaut.png" ng-hide="flechetri_1" />
						<img class="icone_liste" src="static/imgs/flecheBas.png" ng-hide="!flechetri_1" />
					</th>
					<th ng-click="dmdctrl.trier_par('type'); flechetri_2 = !flechetri_2; flechetri_1 = false; flechetri_3 = false; flechetri_4 = false; flechetri_5 = false  ">Type
						<img class="icone_liste" src="static/imgs/flecheHaut.png" ng-hide="flechetri_2" />
						<img class="icone_liste" src="static/imgs/flecheBas.png" ng-hide="!flechetri_2" />
					</th>
					<th ng-click="dmdctrl.trier_par('date'); flechetri_3 = !flechetri_3; flechetri_2 = false; flechetri_1 = false; flechetri_4 = false; flechetri_5 = false  ">Date de
						reception
						<img class="icone_liste" src="static/imgs/flecheHaut.png" ng-hide="flechetri_3" />
						<img class="icone_liste" src="static/imgs/flecheBas.png" ng-hide="!flechetri_3" />
					</th>
					<th >Telechargement
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="justificatif in justificatifs | orderBy:tripar:sens ">
					<td>{{justificatif.nomDuFichier}}</td>
					<td>{{justificatif.type}}</td>
					<td>{{justificatif.date}}</td>
					<td><a
						href="/justificatifs/clients/3/3_NomClient2_PrenomClient2_Domicile.pdf"><img
							class="icone" src="static/imgs/download.png" /></a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div ng-init="value = ''">

		<select class="form-control" ng-model="value">
			<option value="" >Ajouter un document</option>
			<option value="1">Domicile</option>
			<option value="2">Impot</option>
			<option value="3">Salaire</option>
			<option value="4">Autre</option>
		</select>
		<div class="col-xs-12" ng-if="(value==1)?true:false">
		
			<input type="file" id="file" name="file"
				class="form-control input-sm"
				onchange="angular.element(this).scope().uploadFile(this.files, 'Domicile')" />
		</div>
		
		<div class="col-xs-12" ng-if="(value==2)?true:false">
			<input type="file" id="file" name="file"
				class="form-control input-sm"
				onchange="angular.element(this).scope().uploadFile(this.files, 'Impot')" />
		</div>

		<div class="col-xs-12" ng-if="(value==3)?true:false">
			<input type="file" id="file" name="file"
				class="form-control input-sm"
				onchange="angular.element(this).scope().uploadFile(this.files, 'Salaire')" />
		</div>

		<div class="col-xs-12" ng-if="(value==4)?true:false">
			<input type="file" id="file" name="file"
				class="form-control input-sm"
				onchange="angular.element(this).scope().uploadFile(this.files, 'Autre')" />
		</div>

	</div>
</div>


<div class=" panel panel-default "  class=" panel panel-default " ng-controller="CompteController as cptctrl"
	ng-init="cptctrl.getComptes()" >
	<div id="RIBSectionId" class=" panel panel-default " 

	ng-repeat="compte in comptes">
		<div class="panel-heading">
			<span class="lead">{{compte.libelle}}
				<button ng-click="ctrl.printToCart('RIBSectionId')"
					class="btn btn-warning btn-sm floatRight no-print">Imprimer
					le RIB</button>
			</span>
		</div>
		<ul class="list-group">
			<li class="list-group-item">IBAN: {{compte.id}}</li>
			<li class="list-group-item">Solde : {{compte.solde}} euros</li>

			<li class="list-group-item">Remuneration :
				{{compte.tauxRemuneration}} %

				<button ng-click="" ng-if="(!compte_id)?true:false"
					class="btn btn-danger btn-sm floatRight no-print">Modifer</button>
			</li>
			<li class="list-group-item"
				ng-hide="{{(compte.tauxRemuneration!=0)?true:false}}">Seuil de
				remuneration : {{compte.seuil}} euros</li>
			<li class="list-group-item">Agios : {{compte.tauxDecouvert}} %</li>
			<li class="list-group-item">Decouvert autorise :
				{{compte.decouvert}}
				<button ng-click="" ng-if="(!compte_id)?true:false"
					class="btn btn-danger btn-sm floatRight no-print" >Modifer</button>
			</li>
		</ul>

		<!-- Default panel contents -->
		<div id="ReleveSectionId" class="panel-heading">
			<span class="lead">Releve de compte
				<button ng-click="ctrl.printToCart('ReleveSectionId')"
					class="btn btn-warning btn-sm floatRight no-print">Imprimer
					le Releve</button>
			</span>
		</div>
		<div class="tablecontainer">
			<table class="table table-hover ">
				<thead>
					<tr>
						<th ng-click="ctrl.trier_par('libelle')">Libelle</th>
						<th ng-click="ctrl.trier_par('dateMouvement')">Date</th>
						<th ng-click="ctrl.trier_par('montant')">Montant</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="mouvement in compte.mouvements | orderBy:tripar:sens ">
						<td>{{mouvement.libelle}}</td>
						<td>{{mouvement.dateMouvement}}</td>
						<td>{{mouvement.montant}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

