
<!-- Tableau d'affichage des clients -->

	<div class="panel panel-info" >

		<!-- Default panel contents -->
		<div class="panel-heading" >
			<span class="lead" >Liste des clients</span>
		</div>
		<div class="panel-body" >
			<div class="tablecontainer">
				<table class="table table-hover">
					<thead>
						<tr>
							<th ng-click="ctrl.trier_par('Nom')">Nom</th>
							<th ng-click="ctrl.trier_par('Prenom')">Prenom</th>
							<th ng-click="ctrl.trier_par('Adresse')">Adresse</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="Client in ctrl.currentUser.clients | filter:search:strict | orderBy:tripar " ng-click="ctrl.detailCompte(Client.id)">
							<td>{{Client.nom}}</td>
							<td>{{Client.prenom}}</td>
							<td>{{Client.adresse}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>


