
<div
	ng-init="mouvements=[
{Libelle:'MoreL',Date:'30/11/2010', Montant:'150'},
{Libelle:'MoreL',Date:'30/11/2010', Montant:'1590'},
{Libelle:'MoreL',Date:'30/11/2010', Montant:'15990'},
{Libelle:'MoreL',Date:'30/11/2010', Montant:'159990'},
{Libelle:'MoreL',Date:'30/11/2010', Montant:'15999990'}
]">
	<div id="printSectionId">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<span class="lead">Releve de compte</span>
			</div>
			<div class="tablecontainer">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Libelle</th>
							<th>Date</th>
							<th>Montant</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="mouvement in mouvements">
							<td>{{mouvement.Libelle}}</td>
							<td>{{mouvement.Date}}</td>
							<td>{{mouvement.Montant}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<button ng-click="printToCart('printSectionId')" class="button">Imprimer</button>