




	<div
	
	ng-init="Demandes=[
{Nom:'MoreL',Prenom:'Brice', Adresse:'24 rue Emile blandin 44400 REZE', Type:'Virement', Edition:'true', Attente:'false'},
{Nom:'dsvsv',Prenom:'dsvsv', Adresse:'24 rue Emile blandin 44400 REZE', Type:'Ouverture', Edition:'false', Attente:'true'},
{Nom:'MorsdvsveL',Prenom:'sdvdsvdsvdssdvdsvdsvd', Adresse:'24 rue Emile blandin 44400 REZE',Type:'Chequier', Edition:'true', Attente:'false'}
]"
	
	>
<div class="panel panel-info" layout="colomn">

	<!-- Default panel contents -->
	<div class="panel-heading" flex>
		<span class="lead">Demande Clients en attente de traitement </span>
	</div>	
	<!-- Tableau d'affichage des demandes d'ouverture -->





			<div class="panel-body" flex>
				<div class="tablecontainer">
					<table class="table table-hover">
						<thead>
							<tr>
								<th ng-click="ctrl.trier_par('Nom')">Nom</th>
								<th ng-click="ctrl.trier_par('Prenom')">Prenom</th>
								<th ng-click="ctrl.trier_par('Adresse')">Adresse</th>
								<th ng-click="ctrl.trier_par('Type')">Type</th>
								<th width="10%" ng-click="ctrl.trier_par('Action')">Action</th>

							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="demande in Demandes  | filter:search:strict | orderBy:tripar ">
								<td>{{demande.Nom}}</td>
								<td>{{demande.Prenom}}</td>
								<td>{{demande.Adresse}}</td>
								<td>{{demande.Type}}</td>

								<td align=center>
<img class="icone_liste" src="static/imgs/crayon.png" ng-hide="{{demande.Edition}}" ng-click="" />
		<img class="icone_liste" src="static/imgs/sablier.png" ng-hide="{{demande.Attente}}" ng-click="" />
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
</div>
</div>

