

	<div class="panel panel-info">
		<!-- Default panel contents -->
		<div class="panel-heading">
			<span class="lead">Cliquez ici pour nous rejoindre</span>
		</div>
		<div class="panel-body ">
<a href="#/inscription" class="btn btn-success btn-lg center-block">
	<h4 class="list-group-item-heading">Inscription</h4>
</a>

</div>
</div>

	<div class="panel panel-info">
		<!-- Default panel contents -->
		<div class="panel-heading">
			<span class="lead">Service de conversion</span>
		</div>
		<div class="panel-body ">
			<div class="col-xs-12 raw ">

				<div class="col-sm-6 ">
					<label class="control-lable" for="file">Saisir le montant a convertir :</label>
				</div>
				<div class="form-group  col-sm-6">

					<input type="text" id="gp_amount" class="form-control input-sm"
						placeholder="1234,56" />

				</div>
			</div>
			<div class="col-xs-12 raw">

				<div class="col-sm-6">
					<label class="control-lable" for="file">Montant converti :</label>
				</div>
				<div class="col-sm-6">
					<div class="form-group " id="gp_converted" text-align: center>


					</div>
				</div>
			</div>
			<div class="col-xs-12 raw">
				<div class="col-sm-6">
					<label class="control-lable" for="file">Devise de depart :</label>
				</div>
				<div class="col-sm-6">
					<select class="form-control" id="gp_from"></select>
				</div>

			</div>
			<div class="col-xs-12 raw">


				<div class="col-sm-6">
					<label class="control-lable" for="file">Devise d'arrivee :</label>
				</div>
				<div class="col-sm-6">
					<select class="form-control" id="gp_to"></select>
				</div>
			</div>
			<div class="col-xs-12">

				<input class="btn btn-primary btn-sm center-block" type='button'
					onClick='gp_convertIt()'
					onMouseOver="PlaySound('static/Sound/Wololo.mp3')"
					value='Convertir! (Wololo)' />
			</div>

		</div>
	</div>
