

	<div class="panel panel-info">
		<!-- Default panel contents -->
		<div class="panel-heading">
			<span class="lead">{{translation.cliqueici}}</span>
		</div>
		<div class="panel-body ">
<a href="#/inscription" class="btn btn-success btn-lg center-block">
	<h4 class="list-group-item-heading">{{translation.btnInscription}}</h4>
</a>

</div>
</div>

	<div class="panel panel-info">
		<!-- Default panel contents -->
		<div class="panel-heading">
			<span class="lead">{{translation.webService}}</span>
		</div>
		<div class="panel-body ">
			<div class="col-xs-12 raw ">

				<div class="col-sm-6 ">
					<label class="control-lable" for="file">{{translation.saisirMontant}} :</label>
				</div>
				<div class="form-group  col-sm-6">

					<input type="text" id="gp_amount" class="form-control input-sm"
						placeholder="1234.56" />

				</div>
			</div>
			<div class="col-xs-12 raw">

				<div class="col-sm-6">
					<label class="control-lable" for="file">{{translation.montantConverti}} :</label>
				</div>
				<div class="col-sm-6">
					<div class="form-group " id="gp_converted" text-align: center>


					</div>
				</div>
			</div>
			<div class="col-xs-12 raw">
				<div class="col-sm-6">
					<label class="control-lable" for="file">{{translation.deviseDepart}} :</label>
				</div>
				<div class="col-sm-6">
					<select class="form-control" id="gp_from"></select>
				</div>

			</div>
			<div class="col-xs-12 raw">


				<div class="col-sm-6">
					<label class="control-lable" for="file">{{translation.deviseArrivee}} :</label>
				</div>
				<div class="col-sm-6">
					<select class="form-control" id="gp_to"></select>
				</div>
			</div>
			<div class="col-xs-12">

				<input class="btn btn-primary btn-sm center-block" type='button'
					onClick='gp_convertIt()'
					value='{{translation.convertir}}' />
			</div>

		</div>
	</div>
