<meta charset="utf-8">


<!-- Formulaire d'inscription -->



<div class="panel panel-info"
	ng-controller="DemandeController as dmdctrl">

	<!-- Default panel contents -->
	<div class="panel-heading">
		<span class="lead">Demande d'ouverture d'un compte courant</span>
	</div>

	<!-- action="envoiMailConfirmation.php"-->
	<div class="panel-body">
		<div class="formcontainer">
			<form ng-submit="dmdctrl.inscription_Client()" name="formInscription"
				class="form-horizontal" method="post" enctype="multipart/form-data">
				<div class="row">
					<div class="form-actions ">
						<a href="#/" class="btn btn-warning btn-sm floatLeft"> Retour</a> 
						<input 	type="submit" 
								value="Valider"
								class="btn btn-primary btn-sm floatRight"
								ng-disabled="formInscription.$invalid"/>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="prenom">Prenom</label>
						<div class="col-md-7">
							<input 	type="text" 
									ng-model="dmdctrl.demande_inscription.prenom"
									name="prenom" 
									class="form-control input-sm"
									placeholder="Entez votre prenom" 
									required
									/>
							<div 	class="has-error" ng-show="formInscription.prenom.$dirty">
								<span ng-show="formInscription.prenom.$error.required">Champ obligatoire</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="file">Nom</label>
						<div class="col-md-7">
							<input 	type="text" 
									ng-model="dmdctrl.demande_inscription.nom"
									name="nom" 
									class="form-control input-sm"
									placeholder="Entrez votre prenom" 
									required />
							<div class="has-error" ng-show="formInscription.nom.$dirty">
								<span ng-show="formInscription.nom.$error.required">Champ obligatoire</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="file">Telephone</label>
						<div class="col-md-7">
							<input type="tel"
								ng-model="dmdctrl.demande_inscription.telephone"
								name="telephone" 
								class="form-control input-sm"
								placeholder="Entez votre telephone" 
								required 
								pattern="[0-9]{10}"
								type="tel"/>
							<div class="has-error" ng-show="formInscription.telephone.$dirty">
								<span ng-show="formInscription.telephone.$error.required">Champ
									obligatoire</span>
								<span ng-show="formInscription.telephone.$error.pattern">Numéro de téléphone non valide</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label 	class="col-md-2 control-lable" for="mail">Adresse mail</label>
						<div class="col-md-7">
							<input 	type="email" 
									ng-model="dmdctrl.demande_inscription.mail"
									name="mail" 
									class="form-control input-sm"
									placeholder="Entrez votre email" 
									required />
							<div class="has-error" ng-show="formInscription.email.$dirty">
								<span ng-show="formInscription.email.$error.required">Champ	obligatoire</span>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="adresse">Adresse	postale</label>
						<div class="col-md-7">
							<input 	type="text" 
									ng-model="dmdctrl.demande_inscription.adresse"
									name="adresse" 
									class="form-control input-sm"
									placeholder="Entrez votre adresse" 
									required />
							<div class="has-error" ng-show="formInscription.adresse.$dirty">
								<span ng-show="formInscription.adresse.$error.required">Champ obligatoire</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="codepostal">Revenus brut mensuel estimés</label>
						<div class="col-md-7">
							<input 	type="number" 
									ng-model="dmdctrl.demande_inscription.revenu"
									name="codepostal" 
									class="form-control input-sm"
									placeholder="Entez votre revenu moyen estimé"
									required />
							<div class="has-error" ng-show="formInscription.codepostal.$dirty">
								<span ng-show="formInscription.codepostal.$error.required">Champ
									obligatoire</span>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

