body {
	display: flex;
	background-image: url("../../static/imgs/banniere.jpg");
	background-repeat: repeat-x;
	background-size: contain;
}

body, #mainWrapper {
	height: 70%;
	background-color: rgb(245, 245, 245);
}

body, .form-control {
	font-size: 12px !important;
}

.username.ng-valid {
	background-color: lightgreen;
}

.username.ng-dirty.ng-invalid-required {
	background-color: red;
}

.username.ng-dirty.ng-invalid-minlength {
	background-color: yellow;
}

.email.ng-valid {
	background-color: lightgreen;
}

.email.ng-dirty.ng-invalid-required {
	background-color: red;
}

.email.ng-dirty.ng-invalid-email {
	background-color: yellow;
}

.floatRight {
	float: right;
	margin-right: 18px;
}

.active


.has-error {
	color: red;
}

.formcontainer {
	background-color: #DAE8E8;
	padding: 20px;
}

.tablecontainer {
	padding-left: 20px;
}

.partie_commune {
	width: 100vw;
}

.generic-container {
	margin-left: 2vw;
	margin-right: 2vw;
	margin-top: 5vh;
	margin-bottom: 5vh;
	padding: 1vw;
	background-color: #EAE7E7;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0 0 30px black;

}

.custom-width {
	width: 80px !important;
}

.panel {
	align: center;
	width: auto;
}

.navbar {
	align: center;
	top: 0;
	left: 0;
	border-radius: 0;
	display: flex;
	width: auto;
	min-height: 150vh;
	background: rgba(200, 200, 200, 0.5);
	border: rgba(200, 200, 200, 0.5);
	justify-content: space-between;
}

.banniere {
	margin-left: 2vw;
	margin-right: 2vw;
	margin-top: 5vh;
	margin-bottom: 5vh;
	padding-bottom: 5vw;

}

.session_name {
	vertical-align: middle;
	text-align: center;
	color: white;
	text-transform: capitalize;
	letter-spacing: 3px;
	font-family: "Times New Roman", Times, serif;
}

.langue_connect {
	float: right;
	width: auto;
}

.langue {
	margin-left: 2vw;
	margin-right: 2vw;
	margin-top: 5vh;
	margin-bottom: 5vh;
	padding: 1vw;
	width: 75px;
	margin: auto;
}

.icone {
	width: 10%;
	height: auto;
}

.flechemenu {
	height: 20px;
	aligne-self: flex-end;
	margin: auto;
}

#logo {
	max-height: 150px;
	margin: 25px;
}
