body {
	background-image: url("../../static/imgs/banniere.jpg");
	background-repeat: repeat-x;
	background-size: contain;
}

body, #mainWrapper {
	height: 100%;
	background-color: rgb(245, 245, 245);
}

.ng-view {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

body, .form-control {
	font-size: 12px !important;
}

.username.ng-valid {
	background-color: lightgreen;
}

.username.ng-dirty.ng-invalid-required {
	background-color: red;
}

.username.ng-dirty.ng-invalid-minlength {
	background-color: yellow;
}

.email.ng-valid {
	background-color: lightgreen;
}

.email.ng-dirty.ng-invalid-required {
	background-color: red;
}

.email.ng-dirty.ng-invalid-email {
	background-color: yellow;
}

.floatRight {
	float: right;
	margin-right: 18px;
}

.active

.has-error {
	color: red;
}

.formcontainer {
	transition: all linear 0.5s;
	background-color: #DAE8E8;
	height: auto;
	padding: 20px;
}

.formcontainer.ng-hide {
	padding-bottom: 0px;
	padding-top: 0px;
	height: 0px;
}

.tablecontainer {
	padding-left: 20px;
}

.generic-container {

	margin: auto;
	padding: 1vw;
	background-color: #EAE7E7;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0 0 30px black;
	background-color: #EAE7E7;
}

.custom-width {
	width: 80px !important;
}

.tab_compte {
	flex: 1;
}

.panel {
	flex: 1;
	margin: 10px;
	align: center;
		min-width:400px;

}

#partie_commune {
	transition: all linear 0.5s;
	transition-delay: 0.5s;

}

.navbar {
	align: center;
	top: 0;
	left: 0;
	border-radius: 0;
	margin: auto;
	min-height: 150vh;
	background: rgba(200, 200, 200, 0.5);
	border: rgba(200, 200, 200, 0.5);
	justify-content: space-between;
	transition: all linear 0.5s;
	min-height: 150vh;
}

.navbar.ng-hide {
	top: -150vh;
}

#banniere {
margin-bottom:5vh;
}

.session_name {
	vertical-align: middle;
	text-align: center;
	color: white;
	text-transform: capitalize;
	letter-spacing: 3px;
	font-family: "Times New Roman", Times, serif;
}

.langue_connect {
	float: right;
	width: auto;
}

.langue {
	margin-left: 2vw;
	margin-right: 2vw;
	margin-top: 5vh;
	margin-bottom: 5vh;
	padding: 1vw;
	width: 75px;
	margin: auto;
}

.icone {
	min-width:20px;
	width: 10%;
	height: auto;
}

.icone_liste {
	width: 20px;
	height: auto;
}

.flechemenu {
	display: block;
	margin: auto;
	height: 50px;
}

#logo {
	max-height: 150px;
	margin: 25px;
}