

body, #mainWrapper {
	height: 70%;
	background-color:rgb(245, 245, 245);
}

body, .form-control{
	font-size:12px!important;
}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}

.formcontainer{
	background-color: #DAE8E8;
	padding: 20px;
}

.tablecontainer{
	padding-left: 20px;
}

.generic-container {
  width:80%;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
}

.custom-width {
    width: 80px !important;
}


.custom-width {
    width: 100% ;
}

.navbar {
	align:center;
	top: 0;
	left: 0;
	border-radius: 0;
	position: float;
	width: auto;
	height: 100%;
   background:rgba(200,200,200,0.5);
   border:rgba(200,200,200,0.5);
}

#banniere{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 22%;
}

#flechemenu{
	position: float;
	margin-top: 200px;
	margin-left: 0px;
	height: 20px;
}

#logo{
max-height: 150px;
margin: 20px;
}
/* condition for screen size minimum of 500px */
@media (max-width:1000px) {
  /* your conditional / responsive CSS inside this condition */

#logo{
max-height: 75px;
margin: 10px;
}

}
