	<div class="panel panel-info" layout="colomn">

			<!-- Default panel contents -->
			<div class="panel-heading" flex>
				<span class="lead">Liste des Comptes </span>
			</div>


			<div class="panel-body" flex>
				<div class="tablecontainer">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Libellé</th>
								<th>Iban</th>
								<th>Solde</th>
							</tr>
						</thead>
						<tbody>
							<tr name="liste_comptes" ng-repeat="u in client.comptes">
								<td><span ng-bind="u.libellé"></span></td>
								<td><span ng-bind="u.iban"></span></td>
								<td><span ng-bind="u.solde"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
